html { background-color: whitesmoke; }
body { background-color: white; }
h4 { margin-top: 20px; }
.container { max-width: 728px; }

#x-projnav {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 9px;
  border-radius: 3px;
}

#x-footer {
    padding-top: 14px;
    padding-bottom: 15px;
    margin-top: 5px;
    background-color: #eee;
    border-top-style: solid;
    border-top-width: 1px;

}

#x-pkginfo {
    margin-top: 25px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-bottom: 15px;
}

code {
  background-color: inherit;
  border: none;
  color: inherit;
  padding: 0;
}

pre {
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.funcdecl {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre .com {
  color: rgb(147, 161, 161);
}

a, .navbar-default .navbar-brand {
    color: #375eab;
}

.navbar-default, #x-footer {
    background-color: hsl(209, 51%, 92%);
    border-color: hsl(209, 51%, 88%);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: hsl(209, 51%, 88%);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
}

#x-file .highlight {
    color: red;
    text-decoration: underline;
}

a.permalink {
    display: none;
}

h1:hover .permalink, h2:hover .permalink, h3:hover .permalink, h4:hover .permalink, h5:hover .permalink, h6:hover .permalink {
    display: inline;
}

.section-header {
  padding-bottom: 4px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #eeeeee;
}
