html { background-color: whitesmoke; }
body { background-color: white; }
h4 { margin-top: 20px; }
.container { max-width: 728px; }
 
#x-projnav {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  padding: 9px;
  border-radius: 3px;
}

#x-footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
    background-color: #eee;
}

@media screen and (min-width: 768px) {
    #x-search {
        float: right;
    }
}
  
code { 
  background-color: inherit; 
  border: none; 
  color: inherit; 
  padding: 0;
}

pre {
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.funcdecl {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

pre .com {
  color: rgb(147, 161, 161);
}

a, .navbar-brand {
    color: #375eab;
}

.btn-default {
    background-color: #375eab;
}

.navbar, #x-footer {
    background-color: #E0EBF5;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: #e7e7e7;
}

#_file .highlight {
    color: red;
    text-decoration: underline;
}

a.permalink {
    display: none;
}

h1:hover .permalink, h2:hover .permalink, h3:hover .permalink, h4:hover .permalink, h5:hover .permalink, h6:hover .permalink {
    display: inline;
}
