{{define "Head"}}<title>GoDoc</title>
<link type="application/opensearchdescription+xml" rel="search" href="/-/opensearch.xml?v={{fileHash "templates/opensearch.xml"}}"/>{{end}}

{{define "Body"}}

  <div class="flat-well well-large"> 
    <h2 style="margin-top: 0">Search for Go packages.</h2>
    {{template "SearchBox" ""}}
  </div>

  <h4>What is this?</h4>

  <p>GoDoc generates <a href="http://golang.org/">Go</a> package documentation
  on the fly from packages on Bitbucket, Github, Google Project Hosting and
  Launchpad. Read the <a href="/-/about">About Page</a> for information about
  adding packages to GoDoc and more.

  <div class="row">
    <div class="span6">
      {{with .Popular}}
      <h4>Popular Packages</h4>
        <ul class="unstyled">
          {{range .}}<li><a href="/{{.Path}}">{{.Path}}</a>{{end}}
        </ul>
      {{end}}
    </div>
    <div class="span6">
      <h4>More Packages</h4>
      <ul class="unstyled">
        <li><a href="/-/index">Index</a>
        <li><a href="/-/go">Standard Packages</a>
        <li><a href="https://code.google.com/p/go-wiki/wiki/Projects">Projects @ go-wiki</a>
      </ul>
    </div>
  </div>

{{end}}
