// More space around headers on package pages.
.navbar, h2, h3, h4 { margin-top: @baseLineHeight  }

code { 
  background-color: inherit; 
  border: none; 
  color: inherit; 
  padding: 0;
}

// comments
pre .com {
  color: rgb(147, 161, 161);
}

.pre-x-scrollable {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

// make typeahead dropdown visible.
#_jump .modal-body {
    overflow: visible;
}

// permalink-related things
a.permalink {
	text-decoration: none;
}

.permalink {
	display: none
}

h1:hover .permalink, h2:hover .permalink, h3:hover .permalink, h4:hover .permalink, h5:hover .permalink, h6:hover .permalink {
	display: inline
}
